@page "{id}"
@model projectwebdev.Pages.Titels.DeleteModel
@{
}

<h1>Bevestig verwijderen</h1>

<div class="alert alert-danger">
	<h5>Weet je zeker dat je - @Model.Stripboek.Titel - wilt verwijderen?</h5>
	<form method="post">
		<button type class="btn-primary btn-danger">Ja</button>
		<a class="btn btn-primary" asp-page="/Titels/Index">Annuleren</a>
	</form>
</div>