@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welkom @User.Identity?.Name</h1>
    <p>Kijk gerust verder op deze website. Via de navigatiebar kunt u selecteren wat u wilt bekijken.</p>
</div>