@page "/LoginHelpSuccess"
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h3 class="text-center">Success</h3>
<div class="text-center return">
    <p>
        Controleer uw e-mail om uw wachtwoord opnieuw in te stellen.
    </p>
</div>
<div class="text-center return">
    <p>
        <a asp-page="./Login">Terug naar inloggen</a>
    </p>
</div>