@page "/Login"
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

            <div><!-- Logo --></div>
            <h3 class="text-center">Login</h3>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-floating">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                
                <div class="form-floating">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                
                <div class="row">
                    <div class="col-6">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe"/>
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="col-6">
                        <p class="text-right">
                            <a id="forgot-password" asp-page="./ForgotPassword">Wachtwoord vergeten?</a>
                        </p>
                    </div>
                </div>
                
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
                </div>
            </form>
            
            <div class="text-center new-account">
                <p>
                    Heb je nog geen account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Maak een account aan</a>
                </p>
            </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
