@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Bevestig Registratie";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Deze website heeft momenteel geen real email sender geregistreerd, zie <a href="https://aka.ms/aspaccountconf">deze documentatie</a> hoe je dit kunt instellen.
    Normaal word dit gemailt: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Klik hier om je account te bevestigen</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

